/* 菜单 */
.menu-container{
  cursor: pointer;
  position: absolute;
  width: 35%;
  max-width:1000px ;
  min-width: 800px;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  z-index: 999;
  display:  flex;
  justify-content: space-between;
  height: 175px;
  user-select: none;
  .menuItem{
    width: 220px;
    // width: 30%;
    display: flex;
    justify-content: center;

  }
  img{
    height: 100%;
    // width: 200px;
    &:hover{
      transform: scale(1.05);
    }
    transition: all 0.3s;
    // 禁止拖拽图片
    user-drag: none;
    -webkit-user-drag: none;
  }
}

.menu_animation{
  animation: menu-animation 0.4s ease-in;
}


@keyframes menu-animation {
  0%{
    opacity: 0.3;
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}