.rightBox_keyAreas{
  img{
    margin-top: 20px;
  }

  .subsidenceAreaEchart_box{
    height: 18vh;
    min-height: 150px;
  }
  .trendSettlementEchart_box{
    // height: 240px;
    height: 22vh;
    min-height: 150px;
  }
}
.leftBox_keyAreas{
}

