// 内涝菜单
.waterlogging_tabs{
  position: absolute;
  z-index: 999;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  display: flex;
  justify-content: space-between;
  .tab{
    cursor: pointer;
    width: 163px;
    height: 68px;
    position: relative;
    transform: scale(0.85);
    img{
      width: 100%;
      height: 100%;
    }
    p{
      width: 100%;
      color:#FFFFFF;
      font-size: 16px;
      position: absolute;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);
    }
  }
}