
// 设置文本选中 ----->>  1.auto：默认。如果浏览器允许，则可以选择文本。   2.none：防止文本选取。    3.text：	文本可被用户选取。    4.all： 单击选取文本，而不是双击。
@mixin user-select($data){
  -webkit-user-select:$data;
  -moz-user-select:$data;
  -ms-user-select:$data;
  user-select:$data;
}



