.grid-module{
  font-weight: 400;
  color: #F4F4F5;
  text-align: center;
  font-size: 21px;
  line-height: 32px;
  .title{
    line-height: 40px;
  }
  .center{
    border-left: 1px solid #1B4C9C;
    border-right: 1px solid #1B4C9C;
  }

}



.MuiPopover-root{
  // background: #023E86 !important;
  .MuiPaper-root{
    // background: #023E86 !important;
    // box-shadow: 0px 0px 24px 4px rgba(26,28,37,0.5);
    border-radius: 2px;
    backdrop-filter: blur(3px);
    // font-size: 16px;
    .MuiMenuItem-root{
      color: #bbb;
          background: #023E86 !important;
      span{
        background: transparent !important;
      }
    }
    .Mui-selected{
      background: #001B47 !important;
      color: #fff;
    }
  }
  .MuiList-root{
    padding: 0;
    .MuiMenuItem-root{
      font-size: 16px;
    }
  }
}

